# THIS FILE HAS TO BE >>ADDED<< TO THE CONTENT OF /etc/mysql/my.cnf
# user >devs<  has ALL privileges
# user >shiny< has only SELECT privilege

[mysqld]
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake
default-storage-engine=MYISAM

[group]
host = localhost
user = usrname
password = insert_password_here

[group1]
host = localhost
user = usrname1
password = insert_password_here
database = db1

[group2]
host = localhost
user = usrname2
password = insert_password_here
database = db2

[shiny]
host = localhost
user = shiny
password = insert_password_here
